.propsDiv {
    border: 1px solid black;
    height: 300px;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.propsTask {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px ;
   flex-direction: column;
   gap: 10px;
}
